.content .container {
    padding: 70px 15px 20px;
}

.my-navbar .navbar-brand {
    color: white;
    /*padding-top: 5px;*/
}

.my-navbar .navbar-nav > li > a {
    color: white;
}

.my-navbar .navbar-nav > .active > a:link,
.my-navbar .navbar-nav > .active > a:visited,
.my-navbar .navbar-nav > .active > a:hover,
.my-navbar .navbar-nav > .active > a:active {
    background-color: #006fc9;
}

/*隐藏cyberplayer的百度图标*/
.jw-icon-barlogo {
    display: none !important;
}

#home-player {
    width: 100% !important;
    /*height: 40vh !important;*/
    height: 370px !important;
}

#live-player {
    width: auto !important;
    height: 50vh !important;
}

.changemessage {
    transition: margin-left linear 6s;
    margin-left: 50px;
    animation: toleft 5.5s linear;
    z-index: 2;
}

@keyframes toleft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}

.oldp {
    position: absolute;
    border: 2px solid cadetblue;
    margin-top: 30px;
    margin-left: 1000px;
    font-size: 20px;
    z-index: 2;
}
