.content .container {
    padding: 70px 15px 20px;
}

.my-navbar .navbar-brand {
    color: white;
    /*padding-top: 5px;*/
}

.my-navbar .navbar-nav > li > a {
    color: white;
}

.my-navbar .navbar-nav > .active > a:link,
.my-navbar .navbar-nav > .active > a:visited,
.my-navbar .navbar-nav > .active > a:hover,
.my-navbar .navbar-nav > .active > a:active {
    background-color: #006fc9;
}

/*隐藏cyberplayer的百度图标*/
.jw-icon-barlogo {
    display: none !important;
}

.jw-icon-barlogo {
    display: none;
}
#player {
    width: auto !important;
    height: 50vh !important;
    margin: auto;
}
.chat-wrap {
    background: whiteSmoke;
    height: 33.1vh;
}
#msg {
    width: auto;
    height: 70%;
    padding: 10px 0;
    background: whiteSmoke;
    overflow: auto;
    box-sizing: border-box;
}
.input-msg {
    /*display: flex;*/
    height: 30%;
    border-top: 1px solid #999;
    padding: 10px;
    box-sizing: border-box;
}
.input-msg input {
    /*width: 80vw;*/
    width: 70%;
    height: 4vh;
}
.input-msg button {
    /*width: auto;*/
    width: 20%;
    height: 4vh;
    margin: 30px 0 0 20px;
}
